body {
    background-color: #CFD0CF;
}

header { 
    font-family: Arial, sans-serif;
    color: #434344;
    line-height: 47px;
    font-size: 42px;
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    width: 595px;
    height: 440px;
    margin: 0 auto;
    grid-template-rows: 130px 130px 130px;
    grid-template-columns: 130px 130px 130px 130px;
    grid-gap: 25px;
}

.end_game {
    outline: none;
    position: fixed;
    z-index: 999;
    top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

.timer {
    font-size: 32px;
    font-family: Arial, sans-serif;
    color: #434344;
    line-height: 36px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.card {
    background: linear-gradient(45deg, #22AB93, #19668d);
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    perspective: 600px;
    text-align: center;
    font-size: 0px;
}

.result_window {
    display: inline-block;
    min-width: 350px;
    background-color: #CFD0CF;
    margin-top: 15%;
}
.result {
    font-size: 48px;
    font-family: Arial, sans-serif;
    margin: 30px auto 0;
}

.wrong{
    border-color: #F44336;
    background: #F44336 !important;
    font-size: 75px;
    transform: rotateY(180deg);
}
.right{
    border-color: #5AD66F;
    background: #5AD66F;
    font-size: 75px;
    transform: rotateY(180deg);
}
.invisible {
    display: none !important;
}

/* ------------------------------------Кнопка Play again--------------------------------------------*/

.play {
    color: white;
    display: inline-block;
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 10px 30px;
    margin: 40px 0 30px;
    background: linear-gradient(45deg, #22AB93, #19668d);
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,1);
}
.play:hover {
    opacity: 0.9;
}
.play:active {
    box-shadow: inset 2px 1px 8px rgba(0,0,0,1);
}

/* ------------------------------------Раздел анимации--------------------------------------------*/

/* ------------------------------------Анимация прыгающих букв--------------------------------------------*/
.jump:nth-child(1) {
    display: inline-block;
    animation: jump 1s ease-out infinite;
}
.jump:nth-child(2) {
    display: inline-block;
    animation: jump 1s 0.1s ease-out infinite;
}
.jump:nth-child(3) {
    display: inline-block;
    animation: jump 1s 0.2s ease-out infinite;
}
.jump:nth-child(4) {
    display: inline-block;
    animation: jump 1s 0.3s ease-out infinite;
}
@keyframes jump {
    30%{
        transform: translateY(-10px) scaleY(1.2);
    }
    85%{
        transform: translateY(10px) scaleY(0.7);
    }
}

/* ------------------------------------Анимации переворачивающихся карт--------------------------------------------*/
.flip {
    animation: flip 0.2s linear forwards;
}
.unflip {
    animation: unflip 0.2s linear forwards;
}
.right-flip {
    animation: right-flip 0.2s linear forwards;
}
.wrong-flip {
    animation: wrong-flip 0.2s linear forwards;
}
@keyframes right-flip {
    50%{
        font-size:0px;
        background: linear-gradient(45deg, #22AB93, #19668d);
    }
    51% {
        border-color: #5AD66F;
        background: #5AD66F;
        font-size: 75px;
    }
    100% {
        border-color: #5AD66F;
        background: #5AD66F;
        font-size: 75px;
        transform: rotateY(180deg);
    }
}
@keyframes wrong-flip {
    50%{
        font-size:0px;
        background: linear-gradient(45deg, #22AB93, #19668d);
    }
    51% {
        border-color: #F44336;
        background: #F44336;
        font-size: 75px;
    }
    100% {
        border-color: #F44336;
        background: #F44336;
        font-size: 75px;
        transform: rotateY(180deg);
    }
}
@keyframes flip{
    50%{
        font-size:0px;
        background: linear-gradient(45deg, #22AB93, #19668d);
    }
    51% {
        background: white;
        font-size: 75px;
    }
    100% {
        background: white;
        font-size: 75px;
        transform: rotateY(180deg);
    }
}
@keyframes unflip{
    0% {background: white;
        transform: rotateY(180deg);
        font-size: 75px;
    }
    50% {
        background: white;
        font-size: 75px;
    }
    51%{
        font-size:0px;
        background: linear-gradient(45deg, #22AB93, #19668d);
    }
}